* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #b9b3b3;
  color: #252525;
}


.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #d4d2d2;
}


